body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif; 
}

form{
    display: flex;
    flex-direction: column;
    width: 70vw;
}

label{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}